<div id="header">
    <div id="menu">
        <div id="Acceuil">
            <a href="{{path('home')}}">Accueil</a>
        </div>
        <div id="Recettes">
            <a href="{{path('recettes')}}">Recettes</a>
        </div>
        
        <div id="apropos">
            <a href="{{path('app_about')}}">A propos</a>
        </div>
        
        <div id="Contact">
            <a href="{{path('app_contact')}}">Contact</a>
        </div>
        

        {% if app.user %}
        <div id="createrecette">
            <a href="{{path('create_recette')}}">Créer une recette</a>
        </div>
        {% endif %}

        {% if is_granted("ROLE_ADMIN") %}
        <div id="Administration">
            <a href="{{path('admin')}}">Administration</a>
        </div>
        {% endif %}

        {% if app.user %}
        <div id="recettes">
            <a href="{{path('ma_page')}}">Mes recettes</a>
        </div>
        <div id="Déconnexion">
           {# <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> #}
           <a href="{{path('app_logout')}}">Déconnexion</a>
        </div>
        {% else %}
        <div id="Inscrit">
            <a href="{{path('app_register')}}">S'inscrire</a>
        </div>
        <div id="Connexion">
            <a href="{{path('app_login')}}">Connexion</a>
        </div>
        {% endif %}
    </div>
</div>

<style>
    *{margin: 0;
    padding : 0}
    #header { 
    background:#E1E9E1;
    text-align: center;
    height: 15%
     }
    #title { text-align: center;
    margin-top : 5%;
    color: #84947B; }
    #imghead {   display: block;
                 margin-left: auto;
                 margin-right: auto;
                 width: 15%;}
    #header a { display: contents;
    color : #84947B;
    font-family: 'Roboto Condensed', sans-serif;  }
    #Acceuil, #Recettes, #apropos, #Contact, #createrecette, #Administration, #recettes, #Déconnexion, #Inscrit, #Connexion{ 
        color : #84947B;
        margin-left: 0.5em;
        margin-bottom: auto;
        margin-top : 0.5em;
        font-size: 25px;
        display:-webkit-inline-box
         }
         <style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
</style>
</style>

<h2 id="title">AVENTURES GUSTATIVES</h2>

<img id="imghead" src="{{asset('images/logo.png')}}" />