{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .recette { margin-left: 40%; }
    .recette img { max-width: 30%; }
</style>

{% for article in articles %}

    <div class="recette">
        <img src="{{asset(article.image)}}" />
        <p> {{article.getCreationDate|format_datetime('short', 'none', locale='fr')}} </p>
        <p>{{article.category.name}}</p>
        <a href="{{path('article_detail', {id: article.id})}}">{{article.title}}</a>
        <p>{{article.description}}</p>
    </div>
    
{% endfor %}

{% endblock %}
